.box4{
    text-align: center;
    width: 19%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
    border-radius: 12px;
    
}
.wrapper{
    padding: 1%;
    text-align: center;
    
}
.clear{
    float: none;
    clear: both;
}
div.form-element {
    margin: 20px 0;
}

.text-center{
    text-align: center;
}
.img-curve{
    border-radius: 15px;
}
.main{
    text-align: center;
    background-color: rgb(211, 211, 230);
    padding: 3% 0;
}