
.box{
    display: flex;
   
    justify-content: space-between;
    margin: 19px ;
    height: 500px;
}
.box img{
    height: 490px;
    width: 33%;
}
.service .img {
    display: flex;
    justify-content: space-around;
}
 .service .img img{
   clip-path: circle();
  margin-top: 20px;
}
section , section1 {
    font-size: 29px;
    font-weight:bold;
    text-align: center;
  
}
section h2{
    color: rgb(156, 26, 26);
    background-color: rgba(139, 75, 100, 0.774);
    margin-bottom: 0;
    padding: 25px;
    font-size:53px;
}
.icon{
    display: flex;
    font-size: 22px;
    justify-content: space-around;
}
.service{
    background-color: rgba(139, 75, 100, 0.774);
    height: 430px;
}
.contact img{
  
    height: 720px;
    width: 50%;
}

.contact .box{
    display: flex;
    margin: 0;
}
.contact .box h1{
  margin-right: 20px;
}
.form{
    margin: 200px;
    margin-top: 50px;

}


.wrapper .box{
    display:flex;
    margin:auto;
    flex-direction: column;
    justify-content: center;
}

input[type="submit"]{
  
    width: 60%;
    margin:auto;
    height: 45px;
    margin-top: 20px;
    border: 1px solid #051a30;
    text-transform: uppercase;
    background-color:#051a30;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    color: #e1e2e2;
    font-weight: 500;
    cursor: pointer;
    outline: none;
   
  }
  
  input[type="submit"]:hover{
    border:2px solid #074042;
    color: white;
    transition: .5s;
    transform: scale(1.02);
    border: none;
  }
  .box1 td{
      font-size: 18px;
      font-weight: bold;
      padding: 8px;
      margin: 8px;
  }
  input[type="text"],[type="password"]{
      border-radius: 2px;
      padding: 8px;
  }
  .login a{
    text-decoration: none;
    color: #185a80;
  }
  
  .login a:hover{
      color:white;
  }
  .login{
      font-weight: bold;
      margin:8px;
  }
